.sprites {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("..\img\smiley.png");
}

.sprites[name=":)"] {background-position: 0 0;}
.sprites[name=":("] {background-position: -20px 0;}
.sprites[name=":D"] {background-position: -40px 0;}
.sprites[name="xD"] {background-position: -60px 0;}
.sprites[name="(cool)"] {background-position: -80px 0;}
.sprites[name=":o"] {background-position: 80px 0;}
.sprites[name=";)"] {background-position: 60px 0;}
.sprites[name="(chuckle)"] {background-position: 40px 0;}
.sprites[name=":'("] {background-position: 20px 0;}
.sprites[name="(fear)"] {background-position: 0 -20px;}
.sprites[name=":|"] {background-position: -20px -20px;}
.sprites[name="(kiss)"] {background-position: -40px -20px;}
.sprites[name=":p"] {background-position: -60px -20px;}
.sprites[name=":$"] {background-position: -80px -20px;}
.sprites[name="(wait)"] {background-position: 80px -20px;}
.sprites[name="(angel)"] {background-position: 60px -20px;}
.sprites[name=":x"] {background-position: 40px -20px;}
.sprites[name="(devil)"] {background-position: 20px -20px;}
.sprites[name="(wasntme)"] {background-position: 0 -40px;}
.sprites[name="(party)"] {background-position: -20px -40px;}
.sprites[name=":@"] {background-position: -40px -40px;}
.sprites[name="(doh)"] {background-position: -60px -40px;}
.sprites[name="]:)"] {background-position: -80px -40px;}
.sprites[name="(yawn)"] {background-position: 80px -40px;}
.sprites[name="(inlove)"] {background-position: 60px -40px;}
.sprites[name=":^)"] {background-position: 40px -40px;}
.sprites[name="(idontcare)"] {background-position: 20px -40px;}
.sprites[name="(heidy)"] {background-position: 0 -60px;}
.sprites[name="<3"] {background-position: -20px -60px;}
.sprites[name="(star)"] {background-position: -40px -60px;}
.sprites[name="(handshake)"] {background-position: -60px -60px;}
.sprites[name="(n)"] {background-position: -80px -60px;}
.sprites[name="(y)"] {background-position: 80px -60px;}
.sprites[name="(emo)"] {background-position: 60px -60px;}
.sprites[name="(clap)"] {background-position: 40px -60px;}
.sprites[name="(rofl)"] {background-position: 20px -60px;}
.sprites[name="(bug)"] {background-position: 0 -80px;}
.sprites[name="(headbang)"] {background-position: -20px -80px;}
.sprites[name="(clock)"] {background-position: -40px -80px;}
.sprites[name="(punch)"] {background-position: -60px -80px;}
.sprites[name="(drunk)"] {background-position: -80px -80px;}
.sprites[name="(smartphone)"] {background-position: 80px -80px;}
.sprites[name="(film)"] {background-position: 60px -80px;}
.sprites[name="(mail)"] {background-position: 40px -80px;}
.sprites[name="(brokenheart)"] {background-position: 20px -80px;}
.sprites[name="(cake)"] {background-position: 0 -100px;}
.sprites[name="(music)"] {background-position: -20px -100px;}
.sprites[name="($)"] {background-position: -40px -100px;}
.sprites[name="(pizza)"] {background-position: -60px -100px;}
.sprites[name="(cafe)"] {background-position: -80px -100px;}
.sprites[name="(sun)"] {background-position: 80px -100px;}
.sprites[name="(flex)"] {background-position: 60px -100px;}
.sprites[name="(tmi)"] {background-position: 40px -100px;}
.sprites[name="(flower)"] {background-position: 20px -100px;}
.sprites[name="(smoke)"] {background-position: 0 -120px;}
.sprites[name="(rain)"] {background-position: -20px -120px;}
.sprites[name="(whew)"] {background-position: -40px -120px;}
.sprites[name="(shake)"] {background-position: -60px -120px;}
.sprites[name="(bow)"] {background-position: -80px -120px;}
.sprites[name="(think)"] {background-position: 80px -120px;}
.sprites[name="(call)"] {background-position: 60px -120px;}
.sprites[name="(tumbleweed)"] {background-position: 40px -120px;}
.sprites[name="(beer)"] {background-position: 20px -120px;}
.sprites[name="(nerd)"] {background-position: 0 -140px;}
.sprites[name="(hi)"] {background-position: -20px -140px;}
.sprites[name="(mm)"] {background-position: -40px -140px;}
.sprites[name="(puke)"] {background-position: -60px -140px;}
.sprites[name="(worry)"] {background-position: -80px -140px;}
.sprites[name="(facepalm)"] {background-position: 80px -140px;}
.sprites[name="(dance)"] {background-position: 60px -140px;}
.sprites[name="(bandit)"] {background-position: 40px -140px;}
.sprites[name="(drink)"] {background-position: 20px -140px;}
.sprites[name="|-)"] {background-position: 0 -160px;}
.sprites[name="(ninja)"] {background-position: -20px -160px;}
.sprites[name="(girl)"] {background-position: -40px -160px;}
.sprites[name="(hug)"] {background-position: -60px -160px;}
.sprites[name="(yn)"] {background-position: -80px -160px;}
.sprites[name="(envy)"] {background-position: 80px -160px;}
.sprites[name="(talktothehand)"] {background-position: 60px -160px;}
.sprites[name="(cat)"] {background-position: 40px -160px;}
.sprites[name="(idea)"] {background-position: 20px -160px;}
.sprites[name="(rock)"] {background-position: 0 -180px;}
.sprites[name="(poolparty)"] {background-position: -20px -180px;}
