html {
  display: inline-flex;
  font-family: Roboto;
  font-size: 1em;
}
body {
  max-width: 1105px;
  max-height: 1350px;
  margin: auto;
  display: inline-flex;
}
.ircChat {
  box-sizing: border-box;
  width: 700px;
  box-shadow: 5px;
  padding: 0 1em 1em 1em;
  margin: 0 auto;
  color: white;
  background-color: #F2F5F8;
}
h1 {
  font-size: 1.5em;
  font-family: Lato;
  color: #2c3e50;
  width: 120px;
  display: inline-block;
}
header > h1 {
  width: 100px;
}
h3 {
  margin-bottom: 0;
}
h2 {
  color: black;
  font-size: 1.2em;
}
nav {
  font-family: Oswald;
  color: lightgray;
}
nav > ul {
  margin: 5px;
  text-align: left;
}
#titre {
  display: inline-block;
  color: lightgray;
  font-family: Oswald;
}
#chatbox {
  border-top: 1px solid black;
  height: 620px;
  padding: 20px;
  margin-bottom: 5px;
  overflow: auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
/*.left {
  text-align: left;

}
.right {
  text-align: right;
}*/
.date {
  color: lightgray;
}
.user {
  color: #34495e;
}
/*.message-l {
  background-color: #27ae60;
}
.message-r {
  background-color: #2980b9;
  float: right;
}*/
.messageByMe /*, .message-r*/ {
  background-color: #27ae60;
  padding : 12px 15px;
  margin-top: 0;
  /*line-height: 25px;*/
  border-radius: 0 5px 5px 5px;
  /*width: 85%;*/
  word-wrap: break-word;
}
.messageNotByMe {
  background-color: #2980b9;
  padding : 12px 15px;
  margin-top: 0;
  /*line-height: 25px;*/
  border-radius: 0 5px 5px 5px;
  /*width: 85%;*/
  word-wrap: break-word;
}
.inputText {
  padding: 1em 0;
}
input[type=text], input[type=password] {
  border: 1px solid lightgray;
}
textarea {
  width: 100%;
  border: none;
}
label {
  color: #92959E;
}
input[type=submit] {
  color: #94C2ED;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  color: #2980b9;
}
#Envoyer {
  float: right;
  clear: both;
}
p {
  margin: 8px auto;
}
fieldset {
  border: none;
}
aside {
  box-sizing: border-box;
  margin: 0;
  width: 305px;
  background-color: #354b60;
  text-align: center;
}
#titreAside {
  color: white;
  margin: 16.080px 0;
}
#userConnected {
  border-top: 1px solid white;
  color: white;
  text-align: left;
  padding-left: 1em
}
#userConnected li {
  margin: 0.3em 0;
}
span {
  font-family: Oswald;
}
footer {
  color: #2c3e50;
  font-family: Oswald;
  text-align: center;
}
.typeJoin, .typeKick, .typeQuit, .typePart, .typeMode {
  font-family : 'Share Tech';
  font-style: italic;
  text-align: center;
}
.activeNavChannel {
  color: #242424;
}
nav li {
  margin: 10px 0;
  display: block;
  text-decoration: none;
  color: #777;
  padding: 0 10px;
  font-size: 25px;
  font-family: 'Oswald';
  border-radius: 2px;
  height: 40px;
  text-align: center;
  background-color: #ecf0f1;
  box-shadow: inset 0px 0px 5px #000000;
  -o-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -khtml-transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  transition: color 0.5s linear;
  }
nav li:hover {
  color: #242424;
}
.modeUser {

}
.modeVoice::first-letter {
  font-family: 'Share Tech';
}
.modeHalfOP::first-letter {
  font-family: 'Share Tech';
  }
.modeOP::first-letter {
  font-family: 'Share Tech';
}
.Everyone {
  font-family: 'Arial Black';
}
.messageBySystem {
  color: black;
}
.typeRaw {
  font-family: courrier;
}
#options {
  color: white;
  margin-bottom: 8px;
}
#autoscroll {
  color: white;
}
#autoscrollcheck {
  position: relative;
  top: 3px;
}
