* {
  font-family: Roboto;
  font-size: 1em;
}
html {
  display: inline-flex;
}
body {
  max-width: 1105px;
  max-height: 1350px;
  margin: auto;
  /*display: inline-flex;*/
}
.ircChat {
  box-sizing: border-box;
  width: 700px;
  box-shadow: 5px;
  padding: 0 1em 1em 1em;
  margin: 0 auto;
  color: white;
  background-color: #F2F5F8;
}
h1 {
  font-size: 1.5em;
  font-family: Lato;
  color: #2c3e50;
  width: 120px;
  display: inline-block;
}
header > h1 {
  width: 100px;
}
h3 {
  margin-bottom: 0;
}
nav {
  font-family: Oswald;
  color: lightgray;
}
nav > ul {
  margin: 5px 0;
}
#titre {
  display: inline-block;
  color: lightgray;
  font-family: Oswald;
}
#chatbox {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 800px;
  padding: 20px;
  margin-bottom: 5px;
  overflow: auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
/*.left {
  text-align: left;

}
.right {
  text-align: right;
}*/
.date {
  color: lightgray;
}
.user {
  color: #34495e;
}
/*.message-l {
  background-color: #27ae60;
}
.message-r {
  background-color: #2980b9;
  float: right;
}*/
.message-l /*, .message-r*/ {
  background-color: #27ae60;
  padding : 12px 15px;
  margin-top: 0;
  /*line-height: 25px;*/
  border-radius: 0 5px 5px 5px;
  /*width: 85%;*/
}
.inputText {
  padding: 1em 0;
}
input[type=text], input[type=password] {
  border: 1px solid lightgray;
}
textarea {
  width: 100%;
  border: none;
}
label {
  color: #92959E;
}
input[type=submit] {
  color: #94C2ED;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  color: #2980b9;
}
#Envoyer {
  float: right;
  clear: both;
}
p {
  margin: 8px auto;
}
fieldset {
  border: none;
}
aside {
  box-sizing: border-box;
  margin: 0;
  width: 305px;
  background-color: #354b60;
  text-align: center;
}
#titreAside {
  color: white;
  margin: 16.080px 0;
}
#userConnected {
  border-top: 1px solid white;
  color: white;
  text-align: left;
  padding-left: 1em
}
#userConnected li {
  margin: 0.3em 0;
}
span {
  font-family: Oswald;
}
footer {
  color: #2c3e50;
  font-family: Oswald;
  text-align: center;
}
.typeJoin, .typeKick, .typeQuit, .typePart, .typeMode {
  font-family : 'Share Tech';
}
